<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Meal Plans</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Include Heroicons -->
    <script src="https://unpkg.com/@heroicons/react@1.0.5/dist/heroicons.js"></script>
    <style>
	    footer {
	            background-color: #2d2d2d;
	            color: white;
	            position: fixed; 
	            left: 0; 
	            right: 0; 
	            bottom: 0; 
	            text-align: center; 
	            padding: 0.75rem; 
	            z-index: 1000; 
	    }
	    
	    body{
	        background-image: url('/img/imageimage.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            min-height: 100vh;
            position: relative;
            overflow-y: auto;
	    }
	    
	    /* Dark semi-transparent overlay */
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }
        
	</style>
</head>
<body class="bg-gray-100 text-gray-900">
   
<!-- Navigation -->
<nav class="bg-gray-800 text-white shadow-lg py-3">
    <div class="flex justify-between items-center px-4 mx-auto">
        <a href="/dashboard" class="text-lg font-bold flex items-center">
            <img src="/img/home-icon.svg" alt="Dashboard" class="h-6 w-6 mr-2"> Home
        </a>
        <div class="flex items-center space-x-4">
            <span class="font-semibold" th:text="${fullname}"></span>
            <a href="/settings" class="text-white font-bold hover:underline">My Profile</a>
            <a href="/myplans" class="text-white font-bold hover:underline">My Plans</a>
            <a href="/createplan" class="text-white font-bold hover:underline">Create Plan</a>
            <a href="/logout" class="text-red-500 font-bold hover:underline">Logout</a>
        </div>
    </div>
</nav>
    <!-- Page Content -->
    <section class="p-6 max-w-4xl mx-auto bg-white shadow-md rounded-lg mt-6 flex-grow">
        <div class="w-full h-40 bg-cover bg-center rounded-lg mb-6"
            style="background-image: url('/img/meal-banner.jpg');"></div>
        <!-- User Details -->
        <h1 class="text-3xl font-bold text-center">
            Welcome, <span th:text="${fullname}"></span>
        </h1>
        <p class="font-bold text-center text-gray-600">
            Daily Caloric Intake Goal: <span th:text="${caloricIntakeGoal}"></span> kcal
        </p>
        <p class="font-bold text-center text-gray-600">
            Diet Preference: <span th:text="${dietPreference}"></span>
        </p>
        <p class="font-bold text-center text-gray-600">
            Weight: <span th:text="${weight}"></span> lbs
        </p>
        <!-- Collapsible Meal Plans by Day -->
        <div th:if="${not #lists.isEmpty(mealPlans)}" class="mt-8">
            <h2 class="text-2xl font-bold text-center mt-8 mb-4">Your Daily Meals</h2>
            <!-- Sorting meals by day and displaying totals -->
            <div th:each="dailyTotal : ${dailyTotals}" class="mb-6">
                <button class="w-full bg-blue-200 p-2 text-left font-bold flex justify-between items-center"
                    onclick="toggleDetails(this)">
                    <span th:text="${dailyTotal.key}"></span> <!-- Day -->
                    <span class="indicator">+</span> <!-- Expand/Collapse Indicator -->
                </button>
                <div class="hidden p-4 bg-white shadow-md rounded-lg">
                    <!-- Meals for the specific day -->
                    <div th:each="mealPlan : ${mealPlans}" th:if="${mealPlan.assignedDay == dailyTotal.key}"
                        class="bg-gray-50 p-4 shadow-md rounded-lg mb-4">
                        <h3 class="text-xl font-bold mb-2" th:text="${mealPlan.mealName}"></h3>
                        <p class="text-gray-700 font-bold">
                            <strong>Assigned Day:</strong> <span th:text="${mealPlan.assignedDay}"></span>
                        </p>
                        <div class="flex justify-between items-center">
                            <p class="text-gray-700">
                                <strong>Calories (kcal):</strong>
                            </p>
                            <div class="bg-purple-200 px-4 py-1 rounded text-center w-24"
                                th:text="${mealPlan.calories}"></div>
                        </div>
                        <div class="flex justify-between items-center">
                            <p class="text-gray-700">
                                <strong>Carbohydrate (g):</strong>
                            </p>
                            <div class="bg-orange-200 px-4 py-1 rounded text-center w-24"
                                th:text="${mealPlan.carbohydrate}"></div>
                        </div>
                        <div class="flex justify-between items-center">
                            <p class="text-gray-700">
                                <strong>Fat (g):</strong>
                            </p>
                            <div class="bg-green-200 px-4 py-1 rounded text-center w-24"
                                th:text="${mealPlan.fat}"></div>
                        </div>
                        <div class="flex justify-between items-center">
                            <p class="text-gray-700">
                                <strong>Protein (g):</strong>
                            </p>
                            <div class="bg-yellow-200 px-4 py-1 rounded text-center w-24"
                                th:text="${mealPlan.protein}"></div>
                        </div>
                    </div>
                    <!-- Totals for the specific day -->
                    <div class="mt-4 bg-blue-100 p-4 shadow-md rounded-lg">
                        <div class="flex justify-between items-center">
                            <h3 class="text-xl font-bold mb-2">Daily Totals</h3>
                            <!-- Trash Icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" th:attr="onclick=|deleteDailyTotal('${dailyTotal.value.mealPlanId}','${dailyTotal.key}')|">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>                            
                        </div>
                        <div class="flex justify-between items-center">
                            <p><strong>Total Calories (kcal):</strong></p>
                            <div class="bg-purple-200 px-4 py-1 rounded text-center w-24"
                                th:text="${dailyTotal.value.totalCalories}"></div>
                        </div>
                        <div class="flex justify-between items-center">
                            <p><strong>Total Carbohydrate (g):</strong></p>
                            <div class="bg-orange-200 px-4 py-1 rounded text-center w-24"
                                th:text="${dailyTotal.value.totalCarbohydrate}"></div>
                        </div>
                        <div class="flex justify-between items-center">
                            <p><strong>Total Fat (g):</strong></p>
                            <div class="bg-green-200 px-4 py-1 rounded text-center w-24"
                                th:text="${dailyTotal.value.totalFat}"></div>
                        </div>
                        <div class="flex justify-between items-center">
                            <p><strong>Total Protein (g):</strong></p>
                            <div class="bg-yellow-200 px-4 py-1 rounded text-center w-24"
                                th:text="${dailyTotal.value.totalProtein}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
	<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <script>
        function toggleDetails(button) {
            const details = button.nextElementSibling;
            details.classList.toggle("hidden");
            const indicator = button.querySelector(".indicator");
            indicator.textContent = details.classList.contains("hidden") ? "+" : "−";
        }

        const csrfToken = document.querySelector('input[name="_csrf"]').value;

        function deleteDailyTotal(mealplanid, day) {
            if (confirm(`Are you sure you want to delete all meals for ${day}?`)) {
                fetch('/delete-meal?planMealId=' + encodeURIComponent(mealplanid), {
                    method: 'DELETE',
                    headers: {
                        'X-CSRF-TOKEN': csrfToken // Adding the CSRF token to the headers
                    }
                })
                .then(response => {
                    if (response.ok) {
                        alert('Meal Plan Deleted Successfully!');
                        // Optionally remove the corresponding day's meals from the display
                        location.reload(); // Reload the page to reflect changes
                    } else {
                        alert('Failed to delete meal plan');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }        

    </script>
    <!-- Footer -->
    <footer class="bg-gray-800 text-white text-center py-3 shadow-lg">
        <div class="container mx-auto flex justify-center items-center space-x-4 text-sm">
            <p>&copy; 2025 Diet Planner |</p>
            <a href="/privacy" class="text-gray-300 hover:text-white">Privacy Policy</a>
            <span class="text-gray-400">|</span>
            <a href="/contact" class="text-gray-300 hover:text-white">Contact</a>
        </div>
    </footer>
</body>

</html>